body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#show-page *,
#new-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}


