<!DOCTYPE html>
<html>
  <head>
    <title>Add a new flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <form id:='new-form' action='/flights' method='post'>
      <label>Airline:
        <input type="text" name="Airline">
      </label><br>
      <label>Airport:
        <input type="text" name="Airport">
      </label><br>
      <label>Flight Number:
        <input type="number" name="flight number">
      </label><br>
      <label>Depart:
        <input type="date" name="Depart">
      </label><br>
      <button type="submit">Search Your Next Vacay</button>
    </form>
  </body>
</html>
