<!-- <%- include('../partials/header')%> -->
<section id="show-page">
    <div>Airline Name: </div>
    <div><%= flight.Airline %></div>
    <div>Airport: </div>
    <div><%= flight.Airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flight number %></div>
</section>

